body {
  color:black;
  background-color:seashell;
  background:url('images/boulangerie.jpg') no-repeat top center;
  background-size: cover;
  width:100%;
}

.info {
  font-family: 'Lobster Two', cursive;

}

.home-text {
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
}

.jumbotron  {

  background-color: rgb(236, 158, 65, 0.6);
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  text-align: center;
  color: black !important;

}
a.title{

  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  text-align: center;
  color: black !important;

}
.page-footer {
  margin: 0;
  padding: 1.5rem;



}

.style {
  margin-bottom: 2rem;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto

}

.intro{
  background-color: rgb(255,255,255, 0.5);

}
