body {
  color:black;
  background-color:seashell;
  background:url('images/boulangerie.jpg') no-repeat top center;
  background-size: cover;
  width:100%;
  font-family: 'Libre Baskerville', serif;
}



.home-text {

  font-size: 1.5em;
}

.jumbotron  {

  background-color: rgb(236, 158, 65, 0.6);
  text-decoration: none;
  text-align: center;
  color: black !important;

}
a.title{

  text-decoration: none;
  text-align: center;
  color: black !important;

}
.page-footer {
  margin: 0;
  padding: 1.5rem;



}

.style {
  margin-bottom: 2rem;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.card-text {
  font-size: 15px;
}


.intro{
  background-color: rgb(255,255,255, 0.5);

}
